@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Jersey+15&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Jaini&family=Jersey+15&family=Shadows+Into+Light&display=swap');
/*/* .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    gap: 20px;
    padding: 20px;
    font-size: clamp(12px, 4vh, 32px);
} */
/*
.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

*/

/* .main-container {
    display: flex;
    grid: 0%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    padding: 20px;
    background-color:none;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
} */



/* .login {
    border: 1px solid black;

    background: url('../assets/login.avif');

    background-position: center;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    position: relative; 
    object-fit: cover; 

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 10px; 
    max-width: 90%; 
    max-height: 100%; 
}   */

.login {
    border: 1px solid black;
    background: url('../assets/login.avif');
    background-position: center;
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    overflow: hidden;
    object-fit: cover;
    position: relative;
    margin: 10px;
    max-width: 90%; 
    max-height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(90vh - 70px); /* Ajusta el tamaño para considerar el navbar y el footer */
    margin-top: none; /* Ajusta si es necesario para el navbar */
    margin-bottom: none; /* Ajusta si es necesario para el footer */
}

form {
    font-size: 17px;
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    display: flex;
}

.btn {
    font-size: 20px;
}
#sign, #title-modal{
    font-family: "jaini", sans-serif;
    color: white;
    font-size: 8rem;
}

label{
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.modal-content {
    background-image: url('../assets/login.avif'); /* Reemplaza 'tu_imagen.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    padding: 20px;
    border: 1px solid #000000;
    max-width: 400px;
    width: 90%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: white;
}

.image img {
    width: 100%;
    height: auto;
}

/* .form-label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: initial;
    font-size: 13px;
    letter-spacing: 2px;
    padding-left: 10px;
} */

/* input {
    background: rgba(225, 225, 225, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 100px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
} */

/* .login .form-control {
    margin-bottom: 10px;
} */

/* .login .btn-primary {
    width: 100%;
} */

.bg {
    background-image: url('../assets/imglogin.jpg');
    background-position: center center;
}






