body{
    background-color: #e0600add; /*Cambia color barra "Ultimos trabajos"*/
}


.menu-head{
    background-color: hsla(0, 0%, 0%, 0.807);
}
.menu-head ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Esto hace que los elementos de la lista se muestren en línea */
}

.menu-head ul li {
    margin-right: 20px; /* Espacio entre los elementos de la lista */
}

.menu-head ul li:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento de la lista */
}

.menu-head ul li a {
    text-decoration: none;
    color: rgb(245, 16, 16);
    font-weight: bold;
}
nav ul {
    list-style-type: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
    color: #feb31b;
  }
  
  
  nav ul li a {
    display: inline-block;
    padding: 10px 20px; 
    text-decoration: none; 
    color: rgb(214, 251, 6); 
  }
  
  nav ul li a:hover {
    color: rgb(226, 11, 11);
  }

    h1{
    font-size: small;
    font-family: Tahoma;
    }

    h2 {
        text-align: center;
      }

    

