<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mecánico Francisco Ormeño</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    <script src="https://kit.fontawesome.com/85fcc96fa6.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const navbar = generateNavbar();
        document.body.prepend(navbar);
      });
    </script>


    <h2>Francisco Ormeño</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="assets/fcombustible.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cambio de filtros de combustible</h5>
          <p class="card-text">Cambio del pre filtro y filtro de combustible para una JAC X200</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/bateria.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revisión de batería</h5>
          <p class="card-text">Con equipo de Diagnóstico de baterías (Midtronick) se revisa el estado de carga y el porcentaje de vida útil de esta batería.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/rodmasa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Cambio de rodamiento de masa</h5>
          <p class="card-text">Rodamiento tiene juego por ende se procede a cambiar.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="assets/frenos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diagnóstico por sonido al frenar</h5>
          <p class="card-text">Vehículo viene con ruido al frenar, se hace revisión y notamos que le falta un perno al caliper de los frenos, se coloca caliper y se deben reemplazar pastillas por desgaste imparejo.</p>
        </div>
      </div>
    </div>
  </div>
  </div>


  <section>
    <h2>Contacto</h2>
    <form>
    </form>
</section>


<footer>

</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="js/navbar.js"></script>
  <script src="js/footer.js"></script>
</body>
</html>